* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    /* background-color: #000; */
    background-image: url('./imgs/starry_background.png');
    background-size: contain;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
}

h1#day {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 1.6em;
}

@media all and (min-width: 550px) {
    h1#day {
        padding-bottom: 60px;
        font-size: 2em;
    }
}

@media all and (min-width: 600px) {
    h1#day {
        padding-bottom: 45px;
    }
}

@media all and (min-width: 768px) {
    h1#day {
        font-size: 2.5em;
    }
}

@media all and (min-width: 1280px) {
    h1#day {
        padding-bottom: 65px;
    }
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
}

@media all and (min-width: 450px) {
    section {
        grid-row-gap: 40px;
    }
}

@media all and (min-width: 550px) {
    section {
        grid-row-gap: 60px;
    }
}

@media all and (min-width: 768px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1280px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}

div.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bloco img {
    width: 300px;
    border: 2px solid #000;
    border-radius: 5%;
    transition: 0.3s;
}

@media all and (min-width: 450px) {
    div.bloco img {
        width: 350px;
    }
}

@media all and (min-width: 550px) {
    div.bloco img {
        width: 430px;
    }
}

@media all and (min-width: 600px) {
    div.bloco img {
        width: 490px;
    }
}

@media all and (min-width: 768px) {
    div.bloco img {
        width: 80%;
    }
}

div.bloco img:hover {
    border-color: #4286f4;
    transform: scale(1.2);
}

div.bloco img:hover ~ span {
    color: #4286f4;
}

div.bloco span {
    z-index: 100;
    font-size: 1.2em;
    transition: 0.3s;
}

@media all and (min-width: 650px) {
    div.bloco span {
        font-size: 1.5em;
    }
}

@media all and (min-width: 768px) {
    div.bloco span {
        font-size: 1.3em;
    }
}

@media all and (min-width: 1024px) {
    div.bloco span {
        font-size: 1.6em;
    }
}